@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	top: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $light-gray;
}

.picture {
	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		width: 800px;
		height: 200px;
		border: 1px solid black;
	}

	&__item {
		position: relative;
		height: 150px;
		width: 100px;
		border-radius: 8px;
		background-size: cover;
	}
	&__name {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.4);
		width: 100px;
		height: 50px;
		top: 100px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;

		&-paragraph {
			color: $grey;
			font-size: 2rem;
		}
	}
}
